{% set title = 'Междугороднее такси по Крыму' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- main -->
<div class="main">
	<div class="container">
		<h1 class="main__title">Междугороднее такси <br> <span>по Крыму</span></h1>
		<div class="main__steps">
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Откуда</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__input">
					<div class="ui large form">
					  <div class="field">
					    <select class="ui search dropdown">
					      <option value="">Откуда</option>
					      <option value="AF">Симферополь ЖД Вокзал</option>
					      <option value="AF">Симферополь Аэропорт</option>
					      <option value="AF">Алупка</option>
					    </select>
					  </div>
					</div>
				</div>
			</div>
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Куда</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__input">
					<div class="ui large form">
					  <div class="field">
					    <select class="ui search dropdown">
					      <option value="">Откуда</option>
					      <option value="AF">Алушта</option>
					      <option value="AF">Ай-Даниль</option>
					      <option value="AF">Алупка</option>
					      <option value="AF">Андреевка</option>
					      <option value="AF">Армянск</option>
					      <option value="AF">Балаклава</option>
					      <option value="AF">Бахчисарай</option>
					      <option value="AF">Белогорск</option>
					      <option value="AF">Береговое</option>
					      <option value="AF">Береговое (ЮБК)</option>
					      <option value="AF">Ботанический сад</option>
					      <option value="AF">Вилино</option>
					      <option value="AF">Витино</option>
					      <option value="AF">Гаспра</option>
					      <option value="AF">Голубой залив</option>
					      <option value="AF">Гурзуф (Артек)</option>
					      <option value="AF">Даниловка</option>
					      <option value="AF">Джанкой</option>
					      <option value="AF">Евпатория</option>
					      <option value="AF">Заозерное</option>
					      <option value="AF">Зеленогорье (Судак)</option>
					      <option value="AF">Золотое (Керчь)</option>
					      <option value="AF">Казантип (Мирный)</option>
					      <option value="AF">Канака</option>
					      <option value="AF">Кастрополь</option>
					      <option value="AF">Кацивели</option>
					      <option value="AF">Кача</option>
					      <option value="AF">Керчь</option>
					      <option value="AF">Коктебель</option>
					      <option value="AF">Кореиз</option>
					      <option value="AF">Курортное (Феодосийский р-н)</option>
					      <option value="AF">Курпаты</option>
					      <option value="AF">Лавровое</option>
					      <option value="AF">Лазурное</option>
					      <option value="AF">Ласпи</option>
					      <option value="AF">Ленино</option>
					      <option value="AF">Ливадия</option>
					      <option value="AF">Малореченское</option>
					      <option value="AF">Массандра</option>
					      <option value="AF">Межводное</option>
					      <option value="AF">Мелас</option>
					      <option value="AF">Мисхор</option>
					      <option value="AF">Морское (Судак)</option>
					      <option value="AF">Мрия (Оползневое)</option>
					      <option value="AF">Мысовое (Керчь)</option>
					      <option value="AF">Научный</option>
					      <option value="AF">Николаевка</option>
					      <option value="AF">Новофёдоровка</option>
					      <option value="AF">Новый Свет</option>
					      <option value="AF">Окуневка</option>
					      <option value="AF">Оленевка</option>
					      <option value="AF">Орджоникидзе</option>
					      <option value="AF">Ореанда</option>
					      <option value="AF">Орлиное</option>
					      <option value="AF">Орловка</option>
					      <option value="AF">Отрадное</option>
					      <option value="AF">Парковое</option>
					      <option value="AF">Партенит</option>
					      <option value="AF">Песочное (Щелкино)</option>
					      <option value="AF">Песчаное</option>
					      <option value="AF">Приветное</option>
					      <option value="AF">Приморский (Феодосия)</option>
					      <option value="AF">Раздольное</option>
					      <option value="AF">Рыбачье</option>
					      <option value="AF">Саки</option>
					      <option value="AF">Санаторное</option>
					      <option value="AF">Севастополь</option>
					      <option value="AF">Семидворье</option>
					      <option value="AF">Симеиз</option>
					      <option value="AF">Солнечногорское</option>
					      <option value="AF">Сотера</option>
					      <option value="AF">Старый Крым</option>
					      <option value="AF">Судак</option>
					      <option value="AF">Утёс</option>
					      <option value="AF">Феодосия</option>
					      <option value="AF">Форос</option>
					      <option value="AF">Черноморское</option>
					      <option value="AF">Штормовое</option>
					      <option value="AF">Ялта</option>
					    </select>
					  </div>
					</div>
				</div>
			</div>
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Дата и время подачи машины</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__input">
					<div class="ui large form">
					  <div class="field">
					    <input data-input="date" type="text">
					  </div>
					</div>
				</div>
			</div>
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Тариф</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__tarifs__wrapper">
					<div class="main__step__tarifs">
						<!-- main__step__tarif -->
						<label for="tarif-1" class="main__step__tarif">
							<input name="tarif" id="tarif-1" type="radio" class="main__step__tarif__input" checked>
							<span class="main__step__tarif__box">
								<img src="img/tarif-1.png" alt="">
								<span class="main__step__tarif__box__title">Эконом</span>
							</span>
						</label>
						<!--END main__step__tarif -->
						<!-- main__step__tarif -->
						<label for="tarif-2" class="main__step__tarif">
							<input name="tarif" id="tarif-2" type="radio" class="main__step__tarif__input">
							<span class="main__step__tarif__box">
								<img src="img/tarif-2.png" alt="">
								<span class="main__step__tarif__box__title">Стандарт</span>
							</span>
						</label>
						<!--END main__step__tarif -->
						<!-- main__step__tarif -->
						<label for="tarif-3" class="main__step__tarif">
							<input name="tarif" id="tarif-3" type="radio" class="main__step__tarif__input">
							<span class="main__step__tarif__box">
								<img src="img/tarif-3.png" alt="">
								<span class="main__step__tarif__box__title">Комфорт</span>
							</span>
						</label>
						<!--END main__step__tarif -->
						<!-- main__step__tarif -->
						<label for="tarif-4" class="main__step__tarif">
							<input name="tarif" id="tarif-4" type="radio" class="main__step__tarif__input">
							<span class="main__step__tarif__box">
								<img src="img/tarif-4.png" alt="">
								<span class="main__step__tarif__box__title">Минивен</span>
							</span>
						</label>
						<!--END main__step__tarif -->
					</div>
				</div>
			</div>
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Стоимость</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__price">
					<span class="main__step__price__num">2 534</span>
					<img src="img/ruble.svg" alt="">
				</div>
			</div>
			<div class="main__step">
				<div class="main__step__head">
					<div class="main__step__title">Ваши контакты</div>
					<div class="main__step__line"></div>
				</div>
				<div class="main__step__input">
					<div class="ui large form">
					  <div class="field">
					    <input type="text" placeholder="Ваше имя">
					  </div>
					</div>
				</div>
				<div class="main__step__input">
					<div class="ui large form">
					  <div class="field">
					    <input type="text" placeholder="Ваш телефон">
					  </div>
					</div>
				</div>
				<button class="btn">Забронировать</button>
			</div>
		</div>
	</div>
</div>

<!--END main -->

{% endblock %}
